
body {
    background-color: #ffff00;
}

h2 {
    color: red;
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 1.3em;
}

.red {
    width: 200;
    height: 200;
    background-color: aqua;
    padding: 20px;
    color: crimson;
}

#green {
    width: 300;
    height: 500;
    background-color: 186318;
}